.header{
  background-color: rgba(247, 237, 255, 1);
}
.App-logo {
  justify-content: center !important;
}


@media (max-width: 480px) {
  .bg-image{
    background-image: url('../public/hero_section.png');
    height: 200vw !important;
  }
  .hero-button{
    width: 100% !important;

  }
  .hero-heading {
    font-size: 8vw!important;
  }
  /* .bg-image{
    background-image: url('../public/hero_section.png');
    height: 400px;
  } */
}
.bg-image{
  background-image: url('../public/hero_section.png');
  height: 800px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */
 .form {
  /* position: relative; */
  z-index: 1;
  background: #28163a;
  max-width: 700px;
  margin: 0 auto 0px;
  /* padding: 45px; */
  text-align: left;
}

.form-label{
  color: #E6C9FD !important;
  font-size: 1.25em;
  line-height: 32px;
  font-family: Clash Grotesk-Regular;
  letter-spacing: 0.02em
}

.form input {
  font-family: "Clash Grotesk-Regular";
  background: #28163a;
  width: 100%;
  height: 85px;
  border: 1px solid #8854BB;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 17px;
  color: #fff
}

.form input::placeholder {
  font-family: "Clash Grotesk-Regular";
  font-size: 17px ;
  color:#8854BB;
  padding-left: 10px;
}



.form-section{
    align-items: flex-end;
    background-color: #28163a;
    /* padding :50px; */
}

@font-face {
  font-family: "Clash Grotesk-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../public/font/ClashGrotesk-Regular.otf") format("opentype");
}

.form-title{
  color: #FBF6FF;
  font-family: "Clash Grotesk-Semibold";
  font-size: 2.34em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 52px;
  /* min-height: 55px; */
  text-align: center;
  /* white-space: nowrap; */
}

@font-face {
  font-family: "Clash Grotesk-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("../public/font/ClashGrotesk-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Clash Grotesk-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../public/font/ClashGrotesk-Medium.otf") format("opentype");
}

.hero-heading {
  color: #38046B;
  font-family: Clash Grotesk-Semibold;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

/* .hero{
  padding-left: 70px !important;
  padding-right: 70px !important;
} */

.hero-subheading{
  color: rgba(63, 56, 64, 1);
  font-family: Clash Grotesk-Medium;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 160%;
  text-align: center;
}

.hero-button{
  display: block;
  background: #B07CE3 !important; 
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  width: 30%;
  padding: 22px 0px 22px 0px !important; 
  border-radius: 30px !important;
  font-family: Clash Grotesk-Regular;
  line-height: 20 px;
  text-transform: none !important;
  font-size: 1.25em;
  cursor: pointer;
  box-shadow: none !important;
  letter-spacing: 0.1em;
}

footer{
  font-family: Clash Grotesk-Regular;
    background-color:#170115;
    color:rgba(247, 237, 255, 1);
    padding: 56px 555px;
    text-decoration: none important!

}

.sm-icon{
  text-decoration: none important!;
  color:rgba(247, 237, 255, 1);
}

.sm-icon:hover{
  color :rgba(136, 84, 187, 1);
}


.footer-hr{
  border: 0px solid #170115 !important;
  color: #170115;
}

.for-copywrite{
  font-size: 0.875em;
  font-family: Clash Grotesk-Regular;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #B8B5B8;
}

.hero-button-submit{
  display: block;
  background: #B07CE3 !important; 
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  width: 30%;
  padding: 22px 0px 22px 0px !important; 
  border-radius: 40px !important;
  font-family: Clash Grotesk-Regular;
  line-height: 20 px;
  text-transform: none !important;
  font-size: 1em ;
  cursor: pointer;
  box-shadow: none !important;
  letter-spacing: 0.1em;
}

.hero-button-submit:disabled{
  background: #EFDBFF !important; 
}



/* for modal */
.modal-dialog {
  position: absolute;
  top: 50px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.for-confetti{
  background-image: url('../public/confetti.png') !important;
  font-family: Clash Grotesk-Regular;
  font-size: 1.25em;
}